In [3]:
import pandas as pd
import numpy as np

In [4]:
midx = pd.MultiIndex.from_product([['A0','A1'], ['B0','B1','B2','B3']])
columns = ['foo', 'bar']
dfmi = pd.DataFrame(np.arange(16).reshape((len(midx), len(columns))),
                    index=midx, columns=columns)

In [5]:
dfmi

       foo  bar
A0 B0    0    1
   B1    2    3
   B2    4    5
   B3    6    7
A1 B0    8    9
   B1   10   11
   B2   12   13
   B3   14   15

In [9]:
a = ['B0', 'B1']

In [13]:
[_ for _ in a]

['B0', 'B1']

In [17]:
dfmi.loc[:, :]

       foo  bar
A0 B0    0    1
   B1    2    3
   B2    4    5
   B3    6    7
A1 B0    8    9
   B1   10   11
   B2   12   13
   B3   14   15

In [18]:
dfmi.loc[(slice(None), slice(None)), :]

       foo  bar
A0 B0    0    1
   B1    2    3
   B2    4    5
   B3    6    7
A1 B0    8    9
   B1   10   11
   B2   12   13
   B3   14   15

In [16]:
dfmi.loc[(slice(None), a), :]

       foo  bar
A0 B0    0    1
   B1    2    3
A1 B0    8    9
   B1   10   11